/**
* ▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
*                   Criado por Gabriel Azuaga Barbosa
*                  E-mail: gabrielbarbosaweb7@gmail.com
*  `•.¸¸.•´´¯`••._.• [ http://gabrieldaluz7.co.nf/ ] •._.••`¯´´•.¸¸.•`
* ▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄▀▄
*/

/* Reset */
* { font-family: 'Ubuntu', sans-serif; font-weight:400; }
a { color:initial; }
a, a:hover, a:visited, a:focus { text-decoration:none; }
html, body { border:0; padding:0; margin:0; }
html { height: 100%; }
body { position:relative; min-height:100%; }

/* Variables */
.pd-top-12 { padding-top:12px; }
.pd-top-15 { padding-top:15px; }
.pd-top-20 { padding-top:20px; }
.pd-top-25 { padding-top:25px; }
.pd-top-30 { padding-top:30px; }
.pd-top-35 { padding-top:35px; }
.pd-bottom-20 { padding-bottom:20px; }
.pd-bottom-25 { padding-bottom:25px; }
.pd-bottom-30 { padding-bottom:30px; }
.pd-bottom-35 { padding-bottom:35px; }
.highlighted a { 		background-color: green !important; 		background-image:none !important; 		color: white !important; 		font-weight: bold !important; 	}

/* Header */
header { }

/* Section */
div#superSlide img { max-height: 315px; min-height:160px; object-fit:cover; }

/* footer */
footer {  }

/* copyright */
div.copyright { position:absolute; bottom:0px; left:0px; width:100%; background:black; color:greenyellow;  font-size:10px;  padding: 10px 0px;     padding-bottom: 2px; text-align:center; }
div.copyright a { color:white; }